*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tela{
    display: none;
}
.ativa{
    display: block;
}
header{
    position: sticky;
    background-color: #810B38;
    padding: 10px;
}
#parte-cima{
    display: flex;
    justify-content: space-between;
}
#btns-head{
    display: flex;
    gap: 15px;
}
button{
    color: #F1E2D1;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    
}
button:hover{
    color: #DCC3AA;
}
body{
    background-color: #F1E2D1;
}
#todos-textos{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
}
#coracao{
    width: 483px;
    height: auto;
}
#paragrafo{
    display: flex;
    gap: 5px;
    padding: 10px;
    flex-wrap: wrap;
    width: 715px;       
    background-color: #DCC3AA;
    font-size: 20px;
}   
h3{
    color: #541A1A;
}
h2{
    color: #F1E2D1;
}
p{
    color: #541A1A;
    text-align: justify;
}
